@import "assets/color.scss";

.contenttable {
  padding-top: 30px;
}

  .dx-field-value {
    padding-top: 5px;
    position: absolute ;
    width: 84% !important;
    display: block ;
   
  }

.buttpadd {
  padding-left: 20px;
}

.dx-viewport {
  padding-top: 60px;
}

#editpan {
  background: $mdgrey;
}
