<div class="contenttable">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col">

          <div class="dx-field">
            <div class="dx-field-value">
              <dx-autocomplete
                  [showClearButton]="true"
                  [(value)]="partnum"
                  
                  [dataSource]="search">
              </dx-autocomplete>
          </div>
        </div>

        </div>
        <div class="col">
          <div class="btn-group">
            <button class="btn btn-warning">Part</button>
            <button class="btn btn-light">Country</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Currency</mat-panel-title>
            </mat-expansion-panel-header>
            <dx-list
              itemTemplate="data"
              [dataSource]="currency"
              pageLoadMode="scrollBottom"
            ><div *dxTemplate="let item1 of 'data'">
              <div>{{item1.namecurrency}}</div>
          </div></dx-list>
          </mat-expansion-panel>
        </div>
        <div class="col">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Country</mat-panel-title>
            </mat-expansion-panel-header>
            <dx-list
              itemTemplate="data"
              [dataSource]="country"
              pageLoadMode="scrollBottom"
            ><div *dxTemplate="let item of 'data'">
              <div>{{item.nameCountry}}</div>
          </div></dx-list>
        </mat-expansion-panel>
        </div>
      </div>
    </div>
  </div>
  
<div *ngIf="partnum">
<app-summary [_partnum]="partnum"></app-summary>

  <div class="dx-viewport">
   <app-dtgr [_partnum]="partnum"></app-dtgr>
   
</div>

  </div>


</div>
