    <h2>Price History</h2> 
    <div class="row" >
      <div class="col-md-2">
        <div class="contenthis">
          <h3>{{oeParts}}</h3>
          <p>OE Parts</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="contenthis">
          <h3>{{iamParts}}</h3>
          <p>lAM Parts</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="contenthis">
          <h3>{{wholesaler}}</h3>
          <p>Wholesaler</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="contenthis">
          <h3>{{rrpAvg}}</h3>
          <p>RRP Avg</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="contenthis">
          <h3>{{rrpRange}}</h3>
          <p>RRP Range</p>
        </div>
      </div>
    </div>
  