
<ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active">
      <a class="nav-link active">{{tab.title}}</a>
    </li>
    <!-- dynamic tabs -->
    <li class="nav-item" *ngFor="let tab of dynamicTabs" (click)="selectTab(tab)" [class.active]="tab.active">
      <a class="nav-link active ">{{tab.title}} <span class="fas fa-times" *ngIf="tab.isCloseable" (click)="closeTab(tab)"></span></a>
    </li>
  </ul>
  <ng-content></ng-content>
  <ng-template dynamic-tabs #container></ng-template>